body{
    background-color: whitesmoke;
    color: darkslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

header{
    font-size: 14px;
    font-family: verdana;
    text-align: left;
    color: black;
}

#imagencab{
    float:left;
}

main{
    text-align: left;
    font-size: 15px;
    font-family: verdana;
    color: rgb(26, 74, 136);
}

.contenedor{
    display: flex;
    text-align: center;
    font-style: italic;
    border-radius: 5px;
    background-color: rgb(40, 184, 194);
    align-items: center;
    justify-content: center;
}
    
footer{
    background-color: blue;
    text-align: center;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
    margin-top: 500px;
    color: white;   
}

*{
    box-sizing: border-box;
}

  label{
    padding: 15px 15px 15px 0;
    display: inline-block;
} 

.imagenrecurso{
    max-width: 300px;
    max-height: 200px;
}

.centrarformulario {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .formulario {
    width: 450px;
  }



